{
  "env": {
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "globals": {
    "_": true,
    "sails": true,
    "async": true,
    "server": true,

    "User": true,

    "UserService": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:node/recommended",
    "plugin:lodash-fp/recommended"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-param-reassign": 0,
    "linebreak-style": [0, "error", "windows"],
    "comma-dangle": ["warn", "always-multiline"]
  }
}
